#frase{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    

    /* background: black; */
}

#frase .container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90vw;

    text-align: center;
    font-size: 4vw;
}

#frase img{
    width: 26vw;
    position: absolute;
}
